*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 140px 1fr 80px;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "menu" "perfil" "mural" "mural2";
}

body{
    background-image: linear-gradient(to bottom, #CC2015, #CD851A);
    background-repeat: no-repeat;
}

.menu{
    grid-area: "menu";
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.perfil{
    grid-area: "perfil";
    display: flex;
    padding: 20px;
    width: 25pc;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CB1717;
}

.perfil ul li{
    display: inline;
}

.perfil img{
    border-radius: 50%;
}

.mural{
    grid-area: "mural";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mural .bio{
    width: 500px;
    height: 250px;
    top: 22%;
    position: absolute;
    left: 35%;
    border-radius: 10px;
    background-color: #CC3D16;
}

.mural p{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    left: 48%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    top: 10%;
    position: absolute;
}

.mural .butEnviar{
    top: 62%;
    left: auto;
    height: 30px;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(#FBBF01, #FA8B01);
    position: absolute;
}

.mural2 {
    grid-area: "mural2";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mural2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.mural .pesquisa{
    right: 40px;
    top: 50px;
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(#FBBF01, #FA8B01);
    position: absolute;
    overflow: hidden;
}

.rodape{
    grid-area: "rodape";
    background-color: tomato;
    position: sticky;
    height: 80px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
}

.rodape ul li{
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.rodape ul li a{
    padding: 0px;
    text-decoration: none;
}
