*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px, 1fr, 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "menu" "conteudo" "rodape";
    overflow: hidden;
}

body{
    background-image: url(../img/bgImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.menu{
    grid-area: "menu";
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: coral;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2.5px;
}

.menu a:visited{
    color: coral;
}

.login{
    background-color: tomato;
    padding: 5px 10px;
    display: flex;
    border-radius: 8px;
}

.login:hover{
    border-top-color: #FBAD01;
    background: #FBAD01;
    color: tomato;
}

.login:active{
    border-top-color: tomato;
    background: tomato;
}

.login a:visited{
    color: coral;
}

.cadastro{
    background-color: #FBAD01;
    padding: 5px 10px;
    display: flex;
    border-radius: 8px;
}

.cadastro:hover{
    border-top-color: tomato;
    background: tomato;
    color: #FBAD01;
}

.cadastro:active{
    border-top-color: #FBAD01;
    background: #FBAD01;
}

.cadastro a:visited{
    color:coral;
}

.menu li{
    display: inline;
}

.menu li a{
    padding: 0px;
    text-decoration: none;
    display: inline-block;
}

.conteudo{
    grid-area: "conteudo";
    height: calc(100vh - 180px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #E5E5E5;
    font-size: 1.2rem;
}

.conteudo h2{
    padding: 20px;
    text-align: center;
    color: #E5E5E5;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: 'Montserrat', sans-serif;
}

.conteudo li{
    display: inline;
    padding: 20px;
}

.conteudo li a{
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.rodape{
    grid-area: "rodape";
    background-color: tomato;
    position: sticky;
    height: 80px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
}

.rodape ul li{
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.rodape ul li a{
    padding: 0px;
    text-decoration: none;
}
