*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #FBBB01, #E73A59);
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
}

.formSection{
    top: 0;
    width: 700px;
}

#form{
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
    flex-wrap: wrap;
    background-color: #FBBB01;
    text-align: left;
}

#form input{
    padding: 5px;
}

#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}