body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*background-color:#E73A59;*/
    background-image: linear-gradient(#FBBB01, #E73A59);
    text-align: center;
}

#form{
    padding: 20px;
    border-radius: 8px;
    background-color: #FBBB01;
    text-align: left;

}

#buttons{
    display: flex;
    justify-content: space-between;
}