*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr 80px;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: "menu" "perfil" "rodape";
    background-color: coral;
}

.menu{
    align-self: "menu";
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color:#E73A59;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    background-color: white;
    border-radius: 8px;
}

#body{
    display: flex;
    justify-self:auto;
    min-height: 100%;
}

.perfil{
    grid-area: "perfil";
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content:space-around;
    flex-direction: column;
    color: antiquewhite;
}

.perfil h2{
    text-shadow: black 0.1rem 0.1rem 0.2rem;
}

.image{
    display: flex;
    flex-direction: column;
}

@keyframes anim-public{
    0% {
        background-image: url('../img/bgImagens/bgImage.jpg');
    }
    25% {
        background-image: url('../img/bgImagens/bgImage2.jpg');
    }
    50% {
        background-image: url('../img/bgImagens/bgImage3.jpg');
    }
    75% {
        background-image: url('../img/bgImagens/bgImage4.jpg');
    }
    100% {
        background-image: url('../img/bgImagens/bgImage5.jpg');
    }
}

.perfil{
    animation: anim-public 30s linear infinite;
}

.rodape{
    grid-area: "rodape";
    background-color:#E73A59;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
}

.rodape ul li{
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.rodape ul li a{
    padding: 0px;
    text-decoration: none;
}
